body {
	background-color: #fbedc3;
	font-family: tahoma, 'Poppins', sans-serif;
	margin: 0;
}

header {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
    background-color:#469EBA;
    height: 80px;
    justify-content: center;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 1em;
	overflow: hidden;
	background-color: #f9A723;
	display: flex;
	justify-content: flex-end; 
  }
  
nav li {
	display: inline;
	margin: 0 1em;
  }

nav a {
	color: #FBEdc3;
}

.fishTank {
	margin: 1em 0;
	display: flex;
}

#fishList{
	display: flex;
    flex-wrap: wrap;
	justify-content: space-evenly;	
}

.fish-card {
	background-color: #8cbece;
    margin: .5em;
    border: solid 1em #FEDB47;
    padding: .5em;
    max-width: 200px;
}

.fish-card ul {
    list-style-type:none;
    margin: 2px;
	padding: .5em;
    margin: .2em;
    text-align: left;
	font-size: .8em;
}

.fish-image {
	width: 100%;
    height: 150px;
    object-fit: scale-down;
}

.section-main {
	margin: 1em;
}

footer {
	background-color: #8CBECE;
	color: #FBEDC3;
    text-align: center;
    height: 50px;
    display: flex;
    justify-content: center;
}

footer a {
    color: #245160;
}

a:hover {
	color: #C2821B;
}

.asideTips {
    color: black;
    background-color: #f9A723;
    display: block;
    float: right;
    padding: 15px;
    margin: 15px;
    width: 20%;
}

main {
    margin: 5px;
    text-align: center;
}

.headline {
    text-align: center;
    color: black;
}

.quotes {
    background-color: #f9A723;
    color: black;
    padding: 20px;
    margin: 0px;
    text-align: center;
}

.locations {
    background-color: #245160;
    padding: 20px;
    margin: 0px;
}

#locationList{
	display: flex;
    flex-wrap: wrap;
	justify-content: space-evenly;	
}

.location-card {
    margin: .5em;
    border: solid 1em #469EBA;
    background-color: #FBEDC3;
    color: black;
    padding: .5em;
    max-width: 200px;
}

.location-card ul {
    list-style-type:none;
    margin: 2px;
	padding: .5em;
    margin: .2em;
    text-align: left;
	font-size: .8em;
}

#tipList{
	display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;	
    color: black;
}

.tip-card {
    margin: .5em;
    border: black;
    padding: .5em;
    max-width: 200px;
}

.tip-card ul {
    margin: 2px;
    padding: .5em;
    margin: .2em;
    text-align: left;
    font-size: .8em;
}

.locationHeader {
    text-align: center;
    color: white;
}

.mainHeader {
    text-align: center;
}

.harvest{
    background-color: white;
    display: flex;
    justify-content: center;
}

#harvestList{
	display: flex;
    text-align: center;
    color: black;
}

.harvest-card {
    margin: .5em;
    border: black;
    padding: .5em;
    max-width: 200px;
}

.harvest-image {
	width: 150px;
    height: 150px;
    object-fit: cover;
}